 html, body, #root {
    height: 100%;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
    background-color: black;
  }
  
  .message-list{
    height: 100%;
    overflow-y: scroll;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .chat-bubble{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color: #f2f2e1;
    align-self: flex-start;
    border: 1px solid #666;
  }

  .msg-div {
    padding: 10px;
  }
  
  .chat-bubble[data-isowner = 'true']{
    background-color: #d3edda;
    align-self: flex-end;
  }
   
  